In [4]:
# Importing libraries
import pandas as pd
import numpy as np

In [10]:
# Read data
suicide_all = pd.read_csv('master.csv')
suicide_all.tail(20)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [8]:
suicide_all.shape

(27820, 12)

In [7]:
nulls = suicide_all.isnull().sum()
nulls

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [54]:
year = suicide_all[(2014<(suicide_all['year']))]
refine1 = year.drop(columns=['HDI for year','generation','country-year'])
year2 = suicide_all[(2014==(suicide_all['year']))]
refine2 = year2.drop(columns=['HDI for year','generation','country-year'])
refine1.head(20)

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($)
576,Antigua and Barbuda,2015,female,55-74 years,1,6403,15.62,"1,364,863,037",14853
577,Antigua and Barbuda,2015,female,15-24 years,0,8561,0.00,"1,364,863,037",14853
578,Antigua and Barbuda,2015,female,25-34 years,0,7740,0.00,"1,364,863,037",14853
579,Antigua and Barbuda,2015,female,35-54 years,0,15323,0.00,"1,364,863,037",14853
580,Antigua and Barbuda,2015,female,5-14 years,0,8239,0.00,"1,364,863,037",14853
581,Antigua and Barbuda,2015,female,75+ years,0,1724,0.00,"1,364,863,037",14853
582,Antigua and Barbuda,2015,male,15-24 years,0,8331,0.00,"1,364,863,037",14853
583,Antigua and Barbuda,2015,male,25-34 years,0,7059,0.00,"1,364,863,037",14853
584,Antigua and Barbuda,2015,male,35-54 years,0,13370,0.00,"1,364,863,037",14853
585,Antigua and Barbuda,2015,male,5-14 years,0,8268,0.00,"1,364,863,037",14853
586,Antigua and Barbuda,2015,male,55-74 years,0,5784,0.00,"1,364,863,037",14853
587,Antigua and Barbuda,2015,male,75+ years,0,1087,0.00,"1,364,863,037",14853
948,Argentina,2015,male,75+ years,245,712691,34.38,"594,749,285,413",14981
949,Argentina,2015,male,15-24 years,656,3500580,18.74,"594,749,285,413",14981
950,Argentina,2015,male,55-74 years,431,3011963,14.31,"594,749,285,413",14981
951,Argentina,2015,male,25-34 years,465,3289927,14.13,"594,749,285,413",14981
952,Argentina,2015,male,35-54 years,633,5166179,12.25,"594,749,285,413",14981
953,Argentina,2015,female,15-24 years,153,3394201,4.51,"594,749,285,413",14981
954,Argentina,2015,female,55-74 years,125,3520779,3.55,"594,749,285,413",14981
955,Argentina,2015,female,25-34 years,114,3235582,3.52,"594,749,285,413",14981

In [55]:
countries = set(year['country'])
countries2 = set(year2['country'])
print((countries))
print((countries2))

{'Antigua and Barbuda', 'Seychelles', 'Austria', 'United States', 'Greece', 'Malta', 'Netherlands', 'Uruguay', 'Colombia', 'Serbia', 'Ukraine', 'United Kingdom', 'Chile', 'Brazil', 'Latvia', 'Romania', 'Czech Republic', 'Denmark', 'Luxembourg', 'Turkmenistan', 'Turkey', 'Mongolia', 'Republic of Korea', 'Mexico', 'Spain', 'Qatar', 'Panama', 'Argentina', 'South Africa', 'Armenia', 'Italy', 'Georgia', 'Kyrgyzstan', 'Singapore', 'Guatemala', 'Estonia', 'Norway', 'Kazakhstan', 'Belgium', 'Germany', 'Grenada', 'Lithuania', 'Nicaragua', 'Russian Federation', 'Cuba', 'Puerto Rico', 'Cyprus', 'Iceland', 'Australia', 'Ecuador', 'Switzerland', 'Poland', 'Croatia', 'Mauritius', 'Saint Vincent and Grenadines', 'Hungary', 'Sweden', 'Slovenia', 'Israel', 'Thailand', 'Finland', 'Japan', 'Belize'}
{'Antigua and Barbuda', 'Seychelles', 'Austria', 'United States', 'Greece', 'Malta', 'Netherlands', 'Uruguay', 'Kuwait', 'Bulgaria', 'Colombia', 'Serbia', 'Ukraine', 'Chile', 'United Kingdom', 'Brazil', 'Costa Rica', 'Latvia', 'Bahrain', 'Paraguay', 'Romania', 'Czech Republic', 'Denmark', 'Luxembourg', 'Slovakia', 'Turkmenistan', 'Uzbekistan', 'Turkey', 'Suriname', 'Republic of Korea', 'Mexico', 'Spain', 'Ireland', 'Panama', 'Portugal', 'Argentina', 'Qatar', 'Armenia', 'Italy', 'Georgia', 'Kyrgyzstan', 'Singapore', 'South Africa', 'Bosnia and Herzegovina', 'Guatemala', 'Estonia', 'Norway', 'Kazakhstan', 'Belgium', 'Germany', 'Grenada', 'Lithuania', 'Nicaragua', 'Russian Federation', 'Saint Lucia', 'Cuba', 'Puerto Rico', 'Cyprus', 'Iceland', 'El Salvador', 'Australia', 'Ecuador', 'France', 'Switzerland', 'Poland', 'Croatia', 'Mauritius', 'Oman', 'Saint Vincent and Grenadines', 'Belarus', 'Hungary', 'Sweden', 'Slovenia', 'Israel', 'Thailand', 'Finland', 'Japan', 'Belize'}

In [56]:
collapse1 = refine1.drop(columns=['sex','age'])
collapse1 = collapse1.rename(columns={'gdp_for_year ($)':'gdp USD', 'gdp_per_capita ($)':'gdp_per_capita USD'})
collapse1 = collapse1.groupby(['country', 'year','gdp_per_capita USD'], as_index=False).agg({'suicides_no':'sum', 'population':'sum', 'suicides/100k pop':'mean'})
collapse1.head(10)

,country,year,gdp_per_capita USD,suicides_no,population,suicides/100k pop
0,Antigua and Barbuda,2015,14853,1,91889,1.301667
1,Argentina,2015,14981,3073,39699624,9.344167
2,Armenia,2015,3775,74,2795335,3.773333
3,Armenia,2016,3788,67,2400033,4.056000
4,Australia,2015,60656,3027,22240785,12.848333
5,Austria,2015,46484,1251,8219386,16.218333
6,Austria,2016,46976,1201,7484629,18.323000
7,Belgium,2015,42830,1867,10624356,16.388333
8,Belize,2015,5561,26,319835,11.288333
9,Brazil,2015,9431,11163,191087085,6.454167

In [57]:
collapse1 = collapse1.groupby(['country', 'year','gdp_per_capita USD'], as_index=False).agg({'suicides_no':'sum', 'population':'sum', 'suicides/100k pop':'mean'})
collapse1

,country,year,gdp_per_capita USD,suicides_no,population,suicides/100k pop
0,Antigua and Barbuda,2015,14853,1,91889,1.301667
1,Argentina,2015,14981,3073,39699624,9.344167
2,Armenia,2015,3775,74,2795335,3.773333
3,Armenia,2016,3788,67,2400033,4.056000
4,Australia,2015,60656,3027,22240785,12.848333
5,Austria,2015,46484,1251,8219386,16.218333
6,Austria,2016,46976,1201,7484629,18.323000
7,Belgium,2015,42830,1867,10624356,16.388333
8,Belize,2015,5561,26,319835,11.288333
9,Brazil,2015,9431,11163,191087085,6.454167
10,Chile,2015,14729,1838,16565725,12.306667
11,Colombia,2015,6552,2332,44490427,5.866667
12,Croatia,2015,12351,739,4001669,19.140000
13,Croatia,2016,12905,683,3567043,21.356000
14,Cuba,2015,8044,1511,10832068,16.192500
15,Cyprus,2015,24718,40,796037,4.132500
16,Cyprus,2016,25098,36,711344,4.715000
17,Czech Republic,2015,18703,1387,9989325,14.239167
18,Czech Republic,2016,19505,1318,8929942,16.176000
19,Denmark,2015,55972,564,5383060,10.118333
20,Ecuador,2015,6832,1073,14534024,8.115833
21,Estonia,2015,18149,195,1243450,17.115000
22,Finland,2015,44862,731,5181797,13.432500
23,Georgia,2015,4046,192,3458400,7.056667
24,Germany,2015,43201,10088,78136683,12.528333
25,Greece,2015,18927,529,10331286,4.671667
26,Grenada,2015,10290,0,96892,0.000000
27,Grenada,2016,10838,0,79012,0.000000
28,Guatemala,2015,4472,494,14258397,3.737500
29,Hungary,2015,13087,1868,9389519,21.439167
...,...,...,...,...,...,...
48,Netherlands,2016,48108,1886,14239554,12.739000
49,Nicaragua,2015,2303,315,5476483,5.822500
50,Norway,2015,79187,590,4882909,11.369167
51,Panama,2015,15158,110,3583382,3.741667
52,Poland,2015,13228,5420,36086575,13.915833
53,Puerto Rico,2015,29728,226,3469521,7.131667
54,Qatar,2015,69937,66,2354147,1.570000
55,Qatar,2016,62484,68,2213121,1.643000
56,Republic of Korea,2015,28410,13510,48671752,32.428333
57,Romania,2015,9431,2228,18863927,11.129167
58,Romania,2016,10020,1953,16644905,11.633000
59,Russian Federation,2015,9987,25432,137018943,19.743333
60,Saint Vincent and Grenadines,2015,7496,3,100948,2.340000
61,Serbia,2015,5492,1062,6766406,17.164167
62,Seychelles,2015,16005,7,85949,6.770833
63,Singapore,2015,81766,329,3719115,9.107500
64,Slovenia,2015,22036,422,1954632,22.067500
65,South Africa,2015,6403,482,49627460,1.083333
66,Spain,2015,27108,3604,44186528,8.115000
67,Sweden,2015,54629,1182,9114524,12.441667
68,Sweden,2016,55594,1130,8125852,13.884000
69,Switzerland,2015,86068,1073,7892502,13.721667
70,Thailand,2015,6552,4205,61261276,6.762500
71,Thailand,2016,6713,4117,53442001,7.732000
72,Turkey,2015,11961,1532,71880464,2.372500
73,Turkmenistan,2015,7326,133,4886514,2.373333
74,Ukraine,2015,2256,7574,40345446,20.393333
75,United Kingdom,2015,47240,4910,61082942,7.228333
76,United States,2015,60387,44189,300078511,14.617500
77,Uruguay,2015,16696,630,3190795,22.501667

In [58]:
collapse2 = refine2.drop(columns=['sex','age'])
collapse2 = collapse2.rename(columns={'gdp_for_year ($)':'gdp USD', 'gdp_per_capita ($)':'gdp_per_capita USD'})
collapse2 = collapse2.groupby(['country', 'year','gdp_per_capita USD'], as_index=False).agg({'suicides_no':'sum', 'population':'sum', 'suicides/100k pop':'mean'})

collapse2 = collapse2.groupby(['country', 'year','gdp_per_capita USD'], as_index=False).agg({'suicides_no':'sum', 'population':'sum', 'suicides/100k pop':'mean'})
collapse2

,country,year,gdp_per_capita USD,suicides_no,population,suicides/100k pop
0,Antigua and Barbuda,2014,14093,0,90837,0.000000
1,Argentina,2014,13400,3231,39276555,9.279167
2,Armenia,2014,4142,58,2803029,3.084167
3,Australia,2014,66809,2891,21927587,12.422500
4,Austria,2014,54278,1314,8141165,17.485000
5,Bahrain,2014,27503,9,1213966,0.543333
6,Belarus,2014,8849,1741,8906977,21.075833
7,Belgium,2014,50173,1899,10578848,16.820833
8,Belize,2014,5448,24,312780,7.579167
9,Bosnia and Herzegovina,2014,5079,313,3654169,9.125000
10,Brazil,2014,12975,10631,189285554,6.094167
11,Bulgaria,2014,8241,724,6883874,11.647500
12,Chile,2014,15883,1789,16406867,11.447500
13,Colombia,2014,8591,2126,44021800,5.551667
14,Costa Rica,2014,11485,268,4403674,5.904167
15,Croatia,2014,14299,722,4030452,18.503333
16,Cuba,2014,7459,1453,10813411,15.385833
17,Cyprus,2014,29024,44,804818,4.758333
18,Czech Republic,2014,20859,1489,9963127,14.607500
19,Denmark,2014,66114,629,5339166,11.477500
20,Ecuador,2014,7116,734,14295145,5.501667
21,El Salvador,2014,3965,386,5696329,8.486667
22,Estonia,2014,21117,241,1241852,21.575833
23,Finland,2014,52832,789,5159944,14.763333
24,France,2014,47318,8881,60275954,14.963333
25,Georgia,2014,4757,194,3470600,6.207500
26,Germany,2014,50167,10217,77552369,12.753333
27,Greece,2014,22834,565,10380547,4.985000
28,Grenada,2014,9456,0,96393,0.000000
29,Guatemala,2014,4210,512,13947190,3.823333
...,...,...,...,...,...,...
48,Oman,2014,22328,7,3631098,0.125833
49,Panama,2014,14181,147,3520213,4.665000
50,Paraguay,2014,5254,379,5877594,6.012500
51,Poland,2014,15119,5934,36059630,14.858333
52,Portugal,2014,23091,1222,9944433,12.824167
53,Puerto Rico,2014,29515,220,3470956,6.424167
54,Qatar,2014,91587,55,2251682,1.582500
55,Republic of Korea,2014,29120,13834,48465917,32.110833
56,Romania,2014,10526,2209,18952235,10.919167
57,Russian Federation,2014,15319,26541,134713962,21.601667
58,Saint Lucia,2014,9372,14,165596,7.630000
59,Saint Vincent and Grenadines,2014,7203,2,100676,6.731667
60,Serbia,2014,6500,1134,6801810,18.065000
61,Seychelles,2014,16018,4,83845,3.610833
62,Singapore,2014,84442,355,3689370,10.981667
63,Slovakia,2014,19679,554,5129686,11.068333
64,Slovenia,2014,25569,388,1951786,20.030833
65,South Africa,2014,7174,580,48912129,1.256667
66,Spain,2014,31171,3911,44172771,8.695833
67,Suriname,2014,10530,128,497701,29.778333
68,Sweden,2014,62956,1148,9114524,12.420833
69,Switzerland,2014,90809,1032,7809621,13.508333
70,Thailand,2014,6662,3952,61139919,6.413333
71,Turkey,2014,13170,1617,70931420,2.569167
72,Turkmenistan,2014,9046,136,4811227,2.345833
73,Ukraine,2014,3299,7968,40464165,20.875000
74,United Kingdom,2014,49906,4788,60570482,6.994167
75,United States,2014,58531,42769,297749735,14.277500
76,Uruguay,2014,18012,591,3177645,20.720000
77,Uzbekistan,2014,2309,2095,27313507,7.093333